<div id='articles' >
</div>

<%= javascript_tag do %>
  <% @articles.each do |article| %>
    add_article(<%= article.to_json.html_safe %>, <%= "'#{show_article_path(:permalink => article.permalink)}'".html_safe %>, <%= logged_in? ? "'#{edit_article_path(:permalink => article.permalink)}'".html_safe : "null" %>);
  <% end %>
<% end %>
