<div id='articles' >
</div>

<%= javascript_tag do %>
  <% @articles.each do |article| %>
    add_article(<%= article.to_json.html_safe %>);
  <% end %>
<% end %>

<div id="details-dialog" style="display:none;">
</div>
