<div id='articles' >
</div>

<%= javascript_tag do %>
  <% @articles.each do |article| %>
    add_article(<%= article.to_json.html_safe %>);
  <% end %>
<% end %>

<a href="#" onclick="open_popup();">click me </a>

<div id="details-dialog" style="display:none;">
  tau
</div>

<script>
  function open_popup ( ) {
    $('#details-dialog').dialog({width: 800, draggable: false, minHeight: 600});
  }
</script>
