<div id="epiceditor"></div>
<%= text_area(:article, :body, :id => 'epiceditor-textarea', :style => 'display: none;') %>

<script type="text/javascript">
//<![CDATA[
  start_epiceditor_preview_mode();
//]]>
</script>
