// Place all the styles related to the Article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_article_title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form_article_body {
  margin-bottom: 10px;
}

.form_article_title_input {
  width: 800px;
}

.form_article_body_input {
  width: 800px;
}

.article {
  background: #eeeeee;
  margin-left: -9px;
  margin-right: -11px;
  border: 1px solid #ddd;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
}

.article-title {
  display: inline;

}

.article-edit {
  display: inline;  
  float: right;
  
  a {
    text-decoration: none;
    color: #533;
    font-size: 16px;
  }

}

.import_text_area {
  width: 800px;
  height: 400px;
  margin-bottom: 10px;

} 
